.matchingbtn{
    margin-left: 41%;
    display: inline-block;
    position: relative;
    color: #fff;
    font-family: 'Schoolbell', cursive;
    font-size: 20px;
    width: 175px;
    height: 60px;
    line-height: 50px;
    border-radius: 7px;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    background-image: linear-gradient(rgb(181, 217, 249) 0%, rgb(125, 189, 245) 100%);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: 20px;
}

.matchingbtn:hover {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(rgb(181, 217, 249) 0%, rgb(156, 204, 245) 100%);
 }

 .matchingtitle {
    font-family: 'Schoolbell', cursive;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
 }


