.mytamacontainer {
    justify-content: center;
    align-items: center;
    display:flex;
    flex-wrap: wrap;
}


.mytamacardcont{
    justify-content: center;
    align-items: center;
    display:flex;
    margin: 3px;
    float: none;
}

.mytamapagetitle {
    color: rgb(64, 176, 224);
    padding: 60px;
    text-align: center;
    font-size: 70px;    
    font-family: 'Schoolbell', cursive;
    justify-content: center;
    align-items: center;
    margin-top: -30px;
  
}

.mytamacard-img-top{
    background-color: transparent;
    align-content: center;
    justify-content: center;
    margin-left: 30px;
    display: flex;
    width: 200px;
    height: 200px;
    margin-top: -70px;
}

.mytamamaincard {
    width: 100%;
    max-width: 350px;
    min-width: 350px;
    height: 230px;
    background-color: rgb(187, 192, 228);
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(75, 70, 179, 0.24);
    border: 2px solid rgba(150, 151, 228, 0.12);
    font-size: 16px;   
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    transition: all 0.3s ease;
 }
 
 .icon {
    margin: 0 auto;
    width: 100%;
    height: 200px;
    max-width: 200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    transition: all 0.8s ease;
    background-position: 0px;
    background-size: 400px;
    font-weight: bolder;
    font-size: 14px;
 }
 

 .mytamamaincard .title {
     
    text-align: center;
    justify-content: center;
    /* margin-left: -10px; */
    color: white;
    font-size: 40px;
    font-weight: 600;
    letter-spacing: 3px;
    font-family: 'Schoolbell', cursive;
    visibility: hidden;
 }
 

 .mytamamaincard .mytamatext {

    font-size: 13px;
    margin-top: 200px;
    margin-block-start: 20px;
    color: white;
    font-weight: 200px;
    letter-spacing: 2px;
    opacity: 0;
    max-height:0;
    transition: all 0.3s ease;
    min-width: 250px;
    align-items: center;
 }
 

 .mytamamaincard:hover {

    height: 400px;
    transition: all 0.3s ease;

 }


 .mytamamaincard:hover .mytamacard-img-top{

    margin-top: -140px;
    transition: all 0.8s ease;
 }


 .mytamamaincard:hover .mytamatext {

    transition: all 0.3s ease;
    opacity: 1;
    justify-content: center;
    align-items: center;
    visibility: visible;

 }
 

 .mytamamaincard:hover .icon {

    background-position: -120px;
    transition: all 0.3s ease;
    background-color: rgb(64, 176, 224);

 }
 

 .mytamamaincard:hover .icon i {

    opacity: 1;
    transition: all 0.3s ease;

 }


 .mytamamaincard:hover .title{

    visibility: visible;
    margin-top: 60px;
    transition: all 0.8s ease;
 }

 .mytamatextcont {
     justify-content: center;
     align-items: center;
     text-align: center;
     margin-left: -220px;  
     margin-top: 60px;
     transition: all 0.8s ease;

 }

 .mytamabutton {
    background-color: rgb(187, 192, 228);
     padding: 30px;
     border-radius: 50%;
     margin-top: -50px;
     font-family: 'Schoolbell', cursive;
     font-size: 30px;
     color: white;  
 }

 .mytamabutton:hover {
     padding: 30px;
     border-radius: 50%;
     font-family: 'Schoolbell', cursive;
     font-size: 30px;

 }


 .mytamagachabutton {
    font-family: 'Schoolbell', cursive;
    font-size: 30px;
    background-color:cornsilk;
    border-radius: 3%;
    font-size: 20px;
    padding: 10px;    
    font-family: 'Schoolbell', cursive;
    margin: 0;
    position: fixed;
    top: 330px;
    left: 56%;
    color: rgb(64, 176, 224)
 }



 