.minigame-container {
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.minigame-cardcontainer {
    background-color: rgb(252, 249, 221);
    text-align: center;
    
}

.minigame-title {
    font-family: 'Schoolbell', cursive;
    color: rgb(19, 169, 233);
    font-size: 30px;
    margin-top: 50px;
}

.minigame-card {
    width: 400px;
    display: inline-block;
    margin: 15px;
    align-items: center;
    text-align: center;

}

.minigame-card:hover {
    transform: scale(1.2); 
    transition-delay: 0ms, 0ms;
}


.minigame-card h3 {
    text-align: center;
    font-family: 'Schoolbell', cursive;
    color: rgb(71, 76, 94);
    font-size: 18px;
}

.minigame-card-img {
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
}

