.tttcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  }

  table td {
  background-color: rgb(247, 247, 247);
  /* border: 1px solid grey; */
  width: 250px;
  height: 250px;
  justify-content: center;
  align-items: center;
  margin: 5px;
  }

  .tttwinner {
    font-size: 50px;
    font-weight: bolder;
  }


  .ttt2-charOne {
    display: inline-block;
    float:left;
  }

  .ttt2-charTwo {
    display: inline-block;
    float: right;
  }

.ttt2btn{
 background-color: rgb(169, 215, 255);
    justify-content: center;
    padding: 20px;
    font-size: 30px;    
    font-family: 'Schoolbell', cursive;
    color: white;
    margin-top: 40px;
    margin-bottom: 60px;
}

.ttt2btn:hover {
  background-color: rgb(125, 189, 245);
   font-family: 'Schoolbell', cursive;
   font-size: 30px;
   color: white; 
   opacity: 1;
   cursor: pointer;
}

.ttt2playagainbtn {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #fff;
  font-family: 'Schoolbell', cursive;
  font-size: 20px;
  width: 120px;
  height: 60px;
  line-height: 50px;
  border-radius: 7px;
  text-align: center;
  vertical-align: middle;
  overflow: hidden;
  font-weight: bold;
  background-image: linear-gradient(rgb(181, 217, 249) 0%, rgb(125, 189, 245) 100%);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
  cursor: pointer;
}

.ttt2playagainbtn:hover {
  -ms-transform: translateY(2px);
  -webkit-transform: translateY(2px);
  transform: translateY(2px);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  background-image: linear-gradient(rgb(181, 217, 249) 0%, rgb(156, 204, 245) 100%);
}

.ttt-toptitle { 
  color: #868585;
  justify-content: center;
  align-content: center;
  text-align: center;
  font-family: 'Schoolbell', cursive;
  margin-bottom: 30px;
  margin-top: 30px;

}
